.aside .logo a::before{
  border-top: 4px solid #ffb400;
  border-left: 4px solid #ffb400;
}

.aside .logo a::after{
  border-right: 4px solid #ffb400;
  border-bottom: 4px solid #ffb400;
}


.contact .contact-info-item .icon .fa,
.team .team-item-inner .team-info .team-tags a,
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.portfolio .portfolio-item .portfolio-info .icon .fa,
body.dark .portfolio .portfolio-filter button.active,
.portfolio .portfolio-filter button.active,
.service .service-item .service-item-inner .icon .fa,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active{
  color: #ffb400;
}

.team .team-item-inner .team-img .team-date,
.service .service-item .service-item-inner:hover .icon,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a{
  background: #ffb400;
}
body.dark .portfolio .portfolio-filter button.active,
.portfolio .portfolio-filter button.active{
  border-color: #ffb400;
}